/* Personalización de SweetAlert */
.swal2-popup {
    font-size: 1.2rem; /* Cambia el tamaño de fuente */
    border-radius: 8px; /* Bordes redondeados */
  }
  
  .swal2-title {
    color: #1976d2; /* Cambia el color del título */
  }
  
  .swal2-confirm {
    background-color: #1976d2 !important; /* Cambia el color del botón */
    color: #fff !important;
    border-radius: 8px;
  }